
  * {
    box-sizing: border-box;
  }
  /* introducing fonts*/
  @font-face {
    font-family: myfont;
    src: url(MissFajardose-Regular.ttf);
  }
  @font-face {
    font-family: otherfont;
    src: url(Caveat-Regular.ttf);
  }
  body 
  {
    background-image: url('rawpixel-645294-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    font-family: Arial;
    font-size: 17px;
  }
  /*middle container*/
  .container 
  {
    position: fixed;
    text-align: center;
    font-family: otherfont;
    font-size: 45px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 75%;
    height: 75%;
    top: 13%;
    right: 12.5%;
    border-radius: 80px;
  }
  .container p
  {
    font-size: 60px;
  }
  .container5/*footer*/
  {
    position: fixed;
    text-align: left;
    padding: 0% 10%;
    font-family: Ariel;
    font-size: 44px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5);/* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: 6%;
    bottom: 0;
    right: 0%;
  }
  .container5 p
  {
    color: #A9A9A9;
  }

  body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Style the header with a grey background and some padding */
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    background: rgba(0,0,0,.5);
    padding: 25px 12px;
  }

  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 40px;
    text-decoration: none;
    font-size: 45px;
    line-height: 10px;
    border-radius: 10px;
  }

  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 110px;
    font-family: myfont;
    height: auto;
    font-weight: 500;
  }

  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
    transition:all .75s ease;
  }

  /* Style the active/current link*/
  .header a.active {
    background-color: tomato;
    color: white;
  }

  /* Float the link section to the right */
  .header-right 
  {
    float: right;
  }
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  .container6
  {
   position: absolute;
   background: rgba(0, 0, 0, 0);/* Black background with 0.5 opacity */
   top: 20%;
   width: 22%;
   height: 50%;
   right: 63%;
 }
 .container7
 {
  position: absolute;
  width: 65%;
  height: 100%;
  top: 0%;
  right: 0%;
  border-radius: 80px;
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  padding: 10px 80px;
}
.container7 p
{
  font-size: 100px;
  color: #FFF5EE;
}
.container7 h1
{
  color: #F5F5F5;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .5s;
  transform-style: preserve-3d;
  box-shadow: 0 40px 80px 0 rgba(0,0,0,.3);
  border-radius: 30px;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 30px;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;
}
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 1;
  border-radius: 30px;
}

.flip-card-back {
  background-color: tomato;
  color: white;
  transform: rotateY(180deg);
  z-index: 2;
  border-radius: 30px;  
  padding: 10px;
  font-size: 70px;
  font-family: otherfont;
}
