	* {
		box-sizing: border-box;
	}
	@font-face {
		font-family: myfont;
		src: url(MissFajardose-Regular.ttf);
	}
	@font-face {
		font-family: otherfont;
		src: url(Caveat-Regular.ttf);
	}
	@font-face {
		font-family: onemorefont;
		src: url(Laila-Medium.ttf);
	}
	body 
	{
		background-image: url('andyone-26591-unsplash.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		font-family: Arial;
		font-size: 17px;
	}
	* {box-sizing: border-box;}

	body { 
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
	}
	/* Style the header with a grey background and some padding */
	.container1
	{
		position: fixed;
		background: rgba(0,0,0,.5);
		right:10%;
		height:40%;
		width:80%;
		top:8%;
		border-radius: 100px;
		font-family: otherfont;
		font-size: 80px;
		padding: 0px 60px;
		text-align: center;
	}
	.container1 p
	{
		color: white;
		float: center;
	}
	.container2
	{
		position: fixed;
		background: rgba(0,0,0,.5);
		right:10%;
		height:40%;
		width:80%;
		top:51%;
		border-radius: 100px;
		font-family: otherfont;
		font-size: 80px;
		padding: 0px 60px;
		float: center;
		text-align: center;
	}
	.container2 p
	{
		color: white;
		float: center;
	}
	.header {
		overflow: hidden;
		background-color: #f1f1f1;
		background: rgba(0,0,0,.5);
		top: 100%;
		padding: 25px 12px;
	}

	/* Style the header links */
	.header a {
		float: left;
		color: white;
		text-align: center;
		padding: 40px;
		text-decoration: none;
		font-size: 45px;
		line-height: 10px;
		border-radius: 10px;
	}
	.container1 img
	{
		position: fixed;
		top:22%;
		height:10%;
		width:10%;
		right:90%;
	}
	.container5/*footer*/
	{
		position: fixed;
		text-align: left;
		padding: 0% 10%;
		font-family: Ariel;
		font-size: 44px;
		background: rgb(0, 0, 0); /* Fallback color */
		background: rgba(0, 0, 0, 0.5);/* Black background with 0.5 opacity */
		color: #f1f1f1;
		width: 100%;
		height: 6%;
		bottom: 0;
		right: 0%;
	}
	.container5 p
	{
		color: #A9A9A9;
	}
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase
* when the font gets bigger */
.header a.logo {
	font-size: 110px;
	font-family: myfont;
	height: auto;
	font-weight: 500;
}

/* Change the background color on mouse-over */
.header a:hover {
	background-color: #ddd;
	color: black;
}

/* Style the active/current link*/
.header a.active {
	background-color: tomato;
	color: white;
}

/* Float the link section to the right */
.header-right 
{
	float: right;
}

 /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other
 * */
 @media screen and (max-width: 500px) {
 	.header a {
 		float: none;
 		display: block;
 		text-align: left;
 	}
 	.header-right {
 		float: none;
 	}
 }

}
